$lightBlue: #5bcece;
$checkedCircleSize: 16px;

.checkedCircle {
    position: relative;
    width: $checkedCircleSize;
    height: $checkedCircleSize;
    border-radius: $checkedCircleSize;
    background-color: $lightBlue;
    border: none;
}

.mark {
    color: white;
    position: absolute;
    top: 3px;
    left: 5px;
    font-size: 9px;
}