$deepRed: #9c0114;
$deepYellow: #f6cf1d;
$deepGreen: #5C9B13;
$typeWriterFont: "American Typewriter", mono;

.satisfaction {
    height: 40vh;
    min-height: 250px;
    display: flex;

    &_rating {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        &_percentage {
            font-size: 120px;
            font-family: $typeWriterFont;
            &.YELLOW {
                color: $deepYellow;
            };
            &.RED {
                color: $deepRed;
            };
            &.GREEN {
                color: $deepGreen;
            };
        };

        &_percentSign {
            color: #C1C1C1;
            font-size: 30px;
            font-family: $typeWriterFont;
         };

        &_title {
            color: #C1C1C1;
            text-transform: uppercase;
        };

    };

    &_smile {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    };
}
