$deepRed: #9c0114;
$lightRed: #D0011B;
$deepYellow: #FFE840;
$ripeLemon: #f6cf1d;
$deepGreen: #5C9B13;
$lightGreen: #7ED321;

.smile {
    border-radius: 50%;
    width: 242px;
    height: 242px;
    position: relative;
    padding: 0;
    background: none;
}

.RED {
    background-color: $lightRed;
}

.YELLOW {
    background-color: $deepYellow;
}

.GREEN {
    background-color: $lightGreen;
}

.mouth {
    position: absolute;
    &_YELLOW {
         height: 76px;
         width: 152px;
         border: 8px solid $ripeLemon;
         border-top: none;
         border-radius: 0 0 152px 152px;
         left: 38px;
         bottom: 33px;
    };
    &_GREEN {
         height: 76px;
         width: 152px;
         border: 8px solid $deepGreen;
         border-radius: 0 0 152px 152px;
         left: 38px;
         bottom: 32px;
    };
    &_RED {
         height: 66px;
         width: 143px;
         border: 8px solid $deepRed;
         border-radius: 143px 143px 0 0;
         left: 41px;
         bottom: 43px;
    };
}
