$yellowFace: #ffe840;
$ripeLemon: #f6cf1d;
$shakespeare: #4ABED5;

.vote {
    border-radius: 50%;
    width: 49px;
    height: 49px;
    position: relative;
    padding: 0;
    border: none;
    background: linear-gradient(to left, $yellowFace 50%, white 50%);
    background-size: 200% 100%;
    &_filled {
        background-color: $yellowFace;
        border-color: $yellowFace;
    };
}

.vote:disabled {
    cursor: default;
    border-color: $yellowFace;
}

.vote:focus {
    outline: 0;
}

.vote:not(:last-child) {
    margin-right: 20px;
}

.vote:hover:not(:disabled) {
    cursor: pointer;
}



.mouth {
    position: absolute;
    border-color: $ripeLemon;
    .vote:disabled & {
        border-color: $ripeLemon;
        background-color: $ripeLemon;
    }
}

.AWFUL {
    height: 14px;
    width: 28px;
    border: 2px solid $shakespeare;
    border-radius: 28px 28px 0 0;
    left: 7px;
    top: 18px;
}

.BAD {
    height: 14px;
    width: 28px;
    border-radius: 28px 28px 0 0;
    border: 2px solid $shakespeare;
    border-bottom: none;
    left: 7px;
    top: 18px;
    .vote:disabled & {
        background-color: transparent;
    }
}

.NEUTRAL {
    width: 22px;
    height: 2px;
    background-color: $shakespeare;
    top: 30px;
    left: 12px;
}

.GOOD {
    height: 14px;
    width: 28px;
    border: 2px solid $shakespeare;
    border-top: none;
    border-radius: 0 0 28px 28px;
    left: 7px;
    .vote:disabled & {
        background-color: transparent;
    }
}

.AMAZING {
    height: 14px;
    width: 28px;
    border: 2px solid $shakespeare;
    border-radius: 0 0 28px 28px;
    left:7px;
    .vote:disabled & {
        background-color: transparent;
    }
}


$checkedOffset: -2px;

.circlePosition {
    position: absolute;
    bottom: $checkedOffset;
    right: $checkedOffset;
}
