$deepRed: #9c0114;
$deepYellow: #f6cf1d;
$deepGreen: #5C9B13;
$typeWriterFont: "American Typewriter", mono;

.dashboard {}

.ribbon {
    background-color: $deepGreen;
    height: 30vh;
}

.centralBlock {
    height: 40vh;
    min-height: 250px;
    display: flex;
}

.RED {
    background-color: $deepRed;
}

.YELLOW {
    background-color: $deepYellow;
}

.GREEN {
    background-color: $deepGreen;
}

.GRAY {
    background-color: slategrey;
}
