.container {
    position: relative;
}

.paper {
    position: relative;
    margin-top: 229px;
    width: 841px;
    height: 441px;
    background: #FFFFFF;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.50);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 2;

    &_shadow {
        position: relative;
        z-index: 1;
        border-radius: 4px;
        width: 841px;
        height: 441px;
        background: #FFFFFF;
        transform: rotate(-3deg);
        box-shadow: 0 2px 10px 0 rgba(0,0,0,0.50);
        bottom: 441px;
     }
}

.title {
    font-size: 32px;
    color: #767676;
}

.description {
    font-size: 20px;
    color: #C1C1C1;
}

.title, .description {
    text-align: center;
}

.separator {
    height: 1px;
    width: 248px;
    background:#EEEEEE;
    border-bottom:1px solid #EEEEEE;
}

:global {
    .status-enter {
        opacity: 0.01;
    }

    .status-enter.status-enter-active {
        opacity: 1;
        transition: opacity 500ms ease-in;
    }
}
